$white-color: #F6F8FF;
$black-color: #272D2D;
$green-color: #23CE6B;

$default-font: roboto;


$card-size: 250px;
$ul-style: (
    "ulSize": 1.3em,
    "liSize": 1rem,
    "decoration": none,
    "ulMargin": 20px,
);

$mobile: 800px;