body {
  background-color: #272D2D;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #272D2D;
  width: 100%;
  padding: 8%;
  padding-top: 4%;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.search .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.329);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.329);
}

.search .inputContainer input {
  width: 30vw;
  font-size: 2rem;
  color: #23CE6B;
  border: none;
  background-color: #F6F8FF;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .search .inputContainer input {
    width: 50vw;
  }
}

.search .inputContainer #searchIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3rem;
  width: 3rem;
  background-color: #23CE6B;
  border: none;
}

.search .inputContainer #searchIconContainer #searchIcon {
  height: 60%;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.search .inputContainer #searchIconContainer:hover {
  cursor: pointer;
}

.search #filters {
  margin-top: 2rem;
  color: #F6F8FF;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.search #filters input {
  margin: .2rem;
}

#blobSvgLeft {
  width: 50%;
  display: inline;
  position: absolute;
  left: -15%;
  top: -20%;
  z-index: 0;
}

#blobSvgRight {
  width: 50%;
  display: inline;
  position: absolute;
  right: 0%;
  z-index: 0;
  top: 5%;
}

#page-divider {
  background-color: #F6F8FF;
}

@media only screen and (max-width: 600px) {
  .moreResults {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #filters {
    width: 90vw;
  }
}

@media only screen and (min-width: 600px) {
  .moreResults {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #filters {
    width: 50vw;
  }
}

#filters {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#filters li {
  margin: .7rem;
  font-size: 1.2rem;
  z-index: 2;
}

@media only screen and (max-width: 800px) {
  #filters {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.foodContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F6F8FF;
}

.foodContainer .card {
  margin: 3rem;
  width: 300px;
  height: 420px;
  background-color: #272D2D;
  border: 2px solid #23CE6B;
  overflow: hidden;
  /* [1] The container */
  /* [2] Transition property for smooth transformation of images */
  /* [3] Finally, transforming the image when container gets hovered */
}

.foodContainer .card .img-hover-zoom {
  height: 300px;
  /* [1.1] Set it as per your need */
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

.foodContainer .card .img-hover-zoom img {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.foodContainer .card .img-hover-zoom:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.foodContainer .card .card-title {
  overflow: hidden;
  text-align: center;
  font-size: auto;
  font-weight: 600;
  color: #23CE6B;
}

.foodContainer .card .card-body a.btn.btn-primary {
  background-color: #23CE6B;
  border: 1px solid #14773e;
}

.foodContainer .card .card-body a.btn.btn-primary:hover {
  background-color: #1dab59 !important;
}
/*# sourceMappingURL=mainPage.css.map */