@import "./vars";


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}


body {
    background-color: $black-color;
}

.search {
    @include flexCenter(row);
    background-color: $black-color;
    width: 100%;
    padding: 8%;
    padding-top: 4%;
    display: flex;
    flex-direction: column;

    .inputContainer {
        display: flex;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.329);

        input {
            @media only screen and (max-width: 500px) {
                width: 50vw;
            }

            height: 3rem;
            width: 30vw;
            font-size: 2rem;
            color: $green-color;
            border: none;
            background-color: $white-color;
            z-index: 1;
        }

        #searchIconContainer {
            @include flexCenter(row);
            height: 3rem;
            width: 3rem;
            background-color: $green-color;
            border: none;

            &:hover {
                cursor: pointer;
            }

            #searchIcon {
                height: 60%;
                filter: brightness(10);

            }


        }

    }

    #filters {
        input {
            margin: .2rem;
        }

        margin-top: 2rem;
        color: $white-color;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
    }
}

#blobSvgLeft {
    width: 50%;
    display: inline;
    position: absolute;
    left: -15%;
    top: -20%;
    z-index: 0;
}

#blobSvgRight {
    width: 50%;
    display: inline;
    position: absolute;
    right: 0%;
    z-index: 0;
    top: 5%;
}

#page-divider {
    background-color: $white-color;
}

@media only screen and (max-width: 600px) {
    .moreResults {
        justify-content: center;
    }

    #filters {
        width: 90vw;
    }
}

@media only screen and (min-width: 600px) {
    .moreResults {
        justify-content: center;
    }

    #filters {
        width: 50vw;

    }
}

#filters {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: .7rem;
        font-size: 1.2rem;
        z-index: 2;
    }

    @media only screen and (max-width: 800px) {
        justify-content: flex-start;
    }
}

.foodContainer {
    @include flexCenter(row);
    background-color: $white-color;

    .card {
        margin: 3rem;
        width: 300px;
        height: 420px;
        background-color: $black-color;
        border: 2px solid $green-color;
        overflow: hidden;

        /* [1] The container */
        .img-hover-zoom {
            height: 300px;
            /* [1.1] Set it as per your need */
            overflow: hidden;
            /* [1.2] Hide the overflowing of child elements */
        }

        /* [2] Transition property for smooth transformation of images */
        .img-hover-zoom img {
            transition: transform .3s ease;
        }

        /* [3] Finally, transforming the image when container gets hovered */
        .img-hover-zoom:hover img {
            transform: scale(1.2);
        }

        .card-title {
            overflow: hidden;
            text-align: center;
            font-size: auto;
            font-weight: 600;
            color: $green-color;
        }

        .card-body {
            a.btn.btn-primary {
                background-color: $green-color;
                border: 1px solid darken($green-color, 20%);

                &:hover {
                    background-color: darken($green-color, 8%) !important;
                }
            }

        }
    }
}

#loading-icon {
    display: none;
    position: absolute;
    bottom: 10px;
    left: calc(50vw - 25px);
    width: 50px;
    animation: loop 1s infinite;
    animation-timing-function: linear;

    @keyframes loop {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(1turn);
        }
    }
}