body {
  background-color: #F6F8FF;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #272D2D;
  width: 100%;
  padding: 8%;
  padding-top: 4%;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.search .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.329);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.329);
}

.search .inputContainer input {
  width: 30vw;
  font-size: 2rem;
  color: #23CE6B;
  border: none;
  background-color: #F6F8FF;
  z-index: 1;
}

.search .inputContainer #searchIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 3rem;
  width: 3rem;
  background-color: #23CE6B;
  border: none;
}

.search .inputContainer #searchIconContainer #searchIcon {
  height: 60%;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.search .inputContainer #searchIconContainer:hover {
  cursor: pointer;
}

.search #filters {
  margin-top: 2rem;
  color: #F6F8FF;
}

.search #filters input {
  margin: .2rem;
}

#blobSvgLeft {
  width: 50%;
  display: inline;
  position: absolute;
  left: -15%;
  top: -20%;
  z-index: 0;
}

#blobSvgRight {
  width: 50%;
  display: inline;
  position: absolute;
  right: 0%;
  z-index: 0;
  top: 5%;
}

#page-divider {
  background-color: #F6F8FF;
}

@media only screen and (max-width: 600px) {
  .moreResults {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#filters {
  width: 50vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#filters li {
  margin: .7rem;
  font-size: 1.2rem;
  z-index: 2;
}

.foodContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F6F8FF;
}

.foodContainer .card {
  margin: 3rem;
  width: 300px;
  height: 420px;
  background-color: #272D2D;
  border: 2px solid #23CE6B;
  overflow: hidden;
}

.foodContainer .card .card-img-top {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
}

.foodContainer .card .card-img-top:hover {
  -webkit-transform: scale(1.007);
          transform: scale(1.007);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.foodContainer .card .card-title {
  overflow: hidden;
  text-align: center;
  font-size: auto;
  font-weight: 600;
  color: #23CE6B;
}

.foodContainer .card .card-body a.btn.btn-primary {
  background-color: #23CE6B;
  border: 1px solid #14773e;
}

.foodContainer .card .card-body a.btn.btn-primary:hover {
  background-color: #1dab59 !important;
}
/*# sourceMappingURL=mainPage.css.map */