@import "./vars";
@import "./resets";


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background-color: lighten($white-color, 100%);
        color: darken($black-color, 100%);
    }
}

body {
    background-color: $white-color;
}

main {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
}

#foodLabel {
    font-size: 3rem;
    font-weight: 500;
    margin: 2rem;
    margin-left: 0;
    color: $black-color;
    text-shadow: 02px 2px 4px rgba(0, 0, 0, 0.158);
}

#image {
    width: 20rem;
    border: 2px solid $table-color ;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.322);
}

table {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;

    tr {
        &:first-of-type {
            background-color: $table-color;
            color: $white-color;
            font-weight: 500;

            td:first-of-type {
                text-align: center;
                font-size: 2rem;
                font-weight: 500;
                color: $table-color;
                background-color: $white-color;
            }
        }

        td:first-of-type {
            width: .2%;
            font-weight: 500;
            background-color: $table-color;
            color: white;
        }

        &:nth-of-type(2n) {
            background-color: rgba(9, 156, 9, 0.103);
        }
    }

    td {
        width: 20%;
        border: 2px solid rgb(7, 128, 7);
        padding: 1.3rem;
    }

    .indexData {
        text-align: center;
    }
}

#text {
    width: 90%;
}