@import "./vars";
@import "./resets";


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background-color: lighten($white-color, 100%);
        color: darken($black-color, 100%);
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
}

#image {
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgb(7, 128, 7);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.322);
}

table {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;

    tr {
        &:first-of-type {
            background-color: rgb(9, 156, 9);
            color: $white-color;
            font-weight: 500;
        }

        td:first-of-type {
            width: .2%;
        }
    }

    td {
        width: 20%;
        border: 2px solid rgb(7, 128, 7);
        padding: 1.3rem;
    }

    .indexData {
        text-align: center;
    }
}