@import "./vars";


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background-color: lighten($white-color, 100%);
        color: darken($black-color, 100%);
    }
}

html {
    width: 100%;
    background-color: $white-color;
    font-family: $default-font;


}

.slide-out-tr {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: $green-color;
    position: fixed;
    animation: slide-out-right .55s cubic-bezier(.55, .085, .68, .53) both;
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        border-radius: 0%;
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(2000px) translateY(-1000px);
        border-radius: 100%;
        visibility: hidden;
        animation-timing-function: ease-out;
    }
}

// #greenAnimation {

// }

// @keyframes mymove {
//     from {
//         opacity: 1;
//         visibility: visible;
//     }

//     to {
//         visibility: inherit;
//         opacity: 0;
//     }
// }

header {
    background-color: $black-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        display: flex;
        justify-content: center;
        width: 100px;


    }

    @media screen and (min-width: 992px) {
        .nav-link {
            padding: 0em 3rem 0em 3rem !important;

        }

    }
}

//     nav a {
//         color: $white-color  !important;
//         text-transform: uppercase;
//         z-index: 1;

//         &:hover {
//             color: lighten($green-color, 20%) !important;
//         }


//     }
// }

// .navbar-toggler {
//     background-color: white !important;
//     z-index: 1;
//     display: flex;
//     flex-direction: row;

//     &:focus {
//         color: transparent;

//     }
// }

#navLogo {
    width: 100px;
    filter: brightness(12);

    &:hover {
        cursor: pointer;
    }
}