@import "./vars";


@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: $direction;
}

@mixin theme($lightTheme: true) {
    @if $lightTheme {
        background-color: lighten($white-color, 100%);
        color: darken($black-color, 100%);
    }
}

html {
    width: 100%;
    background-color: $white-color;
    font-family: $default-font;


}

.slide-out-tr {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: $green-color;
    position: fixed;
    animation: slide-out .6s cubic-bezier(.55, .085, .68, .53) both;
}

@keyframes slide-in-out {
    0% {
        transform: translateX(-1900px);
        // transform: translateX(0);
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        opacity: 1;
        animation-timing-function: ease-in;
    }

    30% {
        transform: translateX(0);
        border-radius: 0;
    }

    70% {
        transform: translateX(0);
        border-radius: 0;
    }

    100% {
        transform: translateX(-1900px);
        // border-radius: 3rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        visibility: hidden;
        animation-timing-function: ease-out;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0px);
        // border-top-right-radius: 3rem;
        // border-bottom-right-radius: 3rem;
        opacity: 1;
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(-1900px);
        // border-top-right-radius: 3rem;
        // border-bottom-right-radius: 3rem;
        visibility: hidden;
        animation-timing-function: ease-out;
    }
}

body {
    background-color: $white-color;
}

// .pageContent {
//     animation: body-opacity .7s cubic-bezier(.55, .085, .68, .53) both;
// }

@keyframes body-opacity {
    0% {
        opacity: 0%;

    }

    69% {
        opacity: 0%;
    }

    70% {
        opacity: 100%;
    }
}


header {
    background-color: $black-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        display: flex;
        justify-content: center;
        width: 100px;


    }

    @media screen and (min-width: 992px) {
        .nav-link {
            padding: 0em 3rem 0em 3rem !important;

        }

    }
}

#navLogoContainer {

    z-index: 1;

    #navLogo {
        width: 100px;
        filter: brightness(12);

        &:hover {
            cursor: pointer;
        }
    }
}